/* Color scheme: 1B1BB3	313186	090974	4F4FD9	7373D9 */

body {
  line-height: 1.5em;
  margin: auto;
  max-width: 800px;
  padding: 1em;
}

.author { font-size: 1em; }

.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  background: #7373D9;
  border-radius: 5px;
  color: #fff;
  padding: 4px;
  text-decoration: none;
}

.article-meta, .center, footer, .menu { text-align: center; }

.title { font-size: 1.1em; }

footer a { text-decoration: none; }

hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    border: 0;
    height: 1px;
}



/* code */
code { 
  background: #282a36;
  color: #fff;
}
pre {
  border: 1px solid #7373D9;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
  padding: 1em;
}

/* pre code { background: none; } */

/* others stuff */
blockquote {
  background: #7373D9;
  border-left: 5px solid #ccc;
  color: #fff;
  padding: 3px 1em 3px;
}

img, iframe, video { max-width: 100%; }
main { hyphens: auto; }

table {
  border-bottom: 1px solid #090974;
  border-top: 1px solid #090974;
  margin: auto;
}

table th thead { border-bottom: 1px solid #7373D9; }

th, td { padding: 5px; }

tfoot, thead, tr:nth-child(even) { background: #7373D9; }


/* Floating image with caption */
span.floatRight {
  /* To correctly align image, regardless of content height: */
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}
img.floatRight {
  min-width: 100px;
  max-width: 200px;
  max-height: 100px;
}
.caption {
  /* Make the caption a block so it occupies its own line. */
  display: block;
  max-width: 200px;
}

span.floatRight-lg {
  /* To correctly align image, regardless of content height: */
  display: inline-block;
  /* To horizontally center images and caption */
  text-align: center;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}
img.floatRight-lg {
  min-width: 400px;
  max-width: 400px;
  max-height: 400px;
}
.caption-lg {
  /* Make the caption a block so it occupies its own line. */
  display: block;
  max-width: 400px;
}
