{{ partial "header.html" . }}

{{ if not .IsHome }}
<h1>{{ .Title | markdownify }} </h1>
{{ end }}

{{ .Content }}

<hr>
<h2> Recent Posts: </h2>
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }} {{ $pages = .Site.RegularPages}}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <span class="date">{{ .Date.Format "2006, January 2" }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
