{{ partial "header.html" . }}
<div class="article-meta">
  <h1>
    <span class="title">{{ .Title | markdownify }}</span>
  </h1>
  {{ with .Params.author }}
      <h2 class="author">
        by {{ . }} on {{ $.Date.Format "Monday, January 2, 2006" }}
      </h2>
  {{ end }}
</div>

<main>
  {{ .Content }}
</main>

{{ partial "footer.html" . }}
