{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<ul class="terms">
  {{range .Data.Terms}}
  <li>
    <a href="{{ .Page.RelPermalink  }}">{{ .Page.Title }}</a> ({{ .Count }})
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
