<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "custom_head.html" . }} 
  </head>

  <body>

    <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
    <hr>
