<!-- {{/* usage: {{< caption src="/images/xenproject.png" caption="The Xen Project [powers some of the biggest clouds in the business](https://xenproject.org/users/why&#45;xen/)" >}} */}}-->
<span class="floatRight">
  {{ if .IsNamedParams }}
  <img src="{{ .Get "src" }}" class="floatRight"/>
  {{ else }}
  <img src="{{ .Get 0 }}" class="floatRight"/>
  {{ end }}
  {{ if .Get "caption" }}
  <span class="caption">{{ .Get "caption" | markdownify }}</span>
  {{ else }}
  {{ end }}
  </span>

